@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

.gradient-bg {
  background-image: url("../public/images/custom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

code {
  background: hsl(210, 3%, 85%);
  border-radius: 4px;
  padding: 4px;
}

p img {
  max-width: 100%;
  margin: auto;
}
